* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

header{
    background-color: black;
    width: 100%;
    display: table;
}

.menu{
    margin: auto;
}

a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    float: left;
    background-color: rgb(6, 200, 6);
}

#encabezado{
    text-align: center;

}

#encabezado ul li{
color: white;
font-size: 12px;
display: inline;
margin-left: 15px;
}

#inicio:hover
{
    color:cyan;
}

#blog:hover
{
    color:cyan;
}

#informacion:hover
{
    color:cyan;
}

#contacto:hover
{
    color:cyan;
}

#titulo{
    
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 5px 100px 5px 100px;
    background-color: rgba(3, 3, 128, 0.899);
    color: white;
    font-size: 20px;
}

#contenedorPadre{

    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}


#contenedorPadre #contenedorHijo1{

    border: 1px solid;
    margin: 0 auto;
    margin-top: 8px;
    width: 24%;
    height: 80px;
    float: left;
    
}

#contenedorHijo1:hover{

    background-color:gray; 
    
 }


#contenedorPadre #contenedorHijo2{
    
    border: 1px solid;
    margin: 0 auto;
    margin-top: 8px;
    width: 24%;
    height: 80px;
    float: left;
    
}

#contenedorHijo2:hover{

    background-color:gray; 
    
 }

#contenedorPadre #contenedorHijo3{
    
    border: 1px solid;
    margin: 0 auto;
    margin-top: 8px;
    width: 24%;
    height: 80px;
    float: left;
    
}

#contenedorHijo3:hover{

    background-color:gray; 
    
 }

#contenedorPadre #contenedorHijo4{
    
    border: 1px solid;
    margin: 0 auto;
    margin-top: 8px;
    width: 24%;
    height: 80px;
    float: left;
    
}

#contenedorHijo4:hover{

    background-color:gray; 
    
 }

#contenedorPadre h1{

    text-align: center;
    font-size: 18px;
    color: rgb(11, 11, 73);
}

#contenedorPadre p{

    text-align: center;
}

#gridPadre{

    border: 1px solid black;
    display: flex;
    height: 300px;
    justify-content: center;
    margin: auto 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px;

}

#gridPadre .gridHijo1{

    border: 2px solid black;
    background-color:lightgrey;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#gridPadre .gridHijo2{

    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(91, 72, 72), blue);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

#gridPadre .gridHijo3{

    border: 2px solid black;

}

#gridPadre .gridHijo4{

    border: 2px solid black;

}

#gridPadre .gridHijo5{

    border: 2px solid black;

}

#gridPadre .gridHijo6{

    border: 2px solid black;

}

footer{
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 115px;
    text-align: center;
}

footer span{

    background-color: white;
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;


}

footer ul{

    margin-top: 20px;
    color: white;
    font-size: 12px;

}

@media screen and (max-width: 480px){
    #encabezado{
        height: auto;
    }
    #contenido{
        width: auto;
    }
    #barra_lateral{
        display:none;
    }
}
